delafia

<div class="pbArea p1">
  <div>
    <ngx-easy-progress [options]="pbOptions0" [progress]=".85"></ngx-easy-progress>
  </div>
  <div>
    <ngx-easy-progress [options]="pbOptions1" [progress]=".85"></ngx-easy-progress>
  </div>
  <div>
    <ngx-easy-progress [options]="pbOptions2" [progress]=".85"></ngx-easy-progress>
  </div>
</div>

<div class="p1">
  <ngx-easy-progress [options]="pbOptions4" [progress]=".85"></ngx-easy-progress>
</div>

<div class="p1">
  <ngx-easy-progress [options]="pbOptions3" [progress]=".85"></ngx-easy-progress>
</div>
asd